# Server Configuration
GIN_MODE=info
BOT_PORT=8080
BASE_URL=https://<BOT_URL>

# Secrets
DEFAULT_SECRET_TOKEN=a-very-long-default-secret-string
HMAC_DEFAULT_SECRET=a-very-long-default-secret-string

# Required Configuration
TELEGRAM_BOT_TOKEN=your-telegram-bot-token

#Telegram messages config
TELEGRAM_MESSAGE_EXPIRATION_TIME=5